 /* Footer Styling */
 footer {
    background-color: #071629; /* Set background color */
    color: #fff; /* Set text color to white */
    padding: 20px 0;
    text-align: center;
}

.footer_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.footer_logo img {
    width: 161px;
    height: 32px; /* Adjust logo size */
}

.social-icons a {
    margin: 0 10px;
}

.social-icons img {
    width: 25px; /* Adjust social icon size */
    transition: transform 0.3s ease;
}

.footer_paragraph {
    font-size: 8px;
    margin: 0;
    opacity: 0.5;
    position: absolute;
    text-align: center;
    bottom: 10px;
    width: 100%;
    opacity: 0.1;
}


@media (max-width: 768px) {
    .footer_content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }

    .footer_logo img {
        width: 162px;
        height: 32px; /* Adjust logo size */
    }

    .social-icons {
        display: flex;
        justify-content: flex-end;
    }

    .social-icons a {
        margin: 5px; /* Adjust margin for icons */
    }

    .social-icons img {
        width: 20px; /* Adjust social icon size */
    }

    .footer_paragraph {
        font-size: 12px; /* Adjust font size for smaller screens */
        margin-top: 10px;
    }
}

/* Max width 480px (mobile screens) */
@media (max-width: 480px) {
    .footer_content {
        flex-direction: column; /* Stack content vertically */
        align-items: center;
        padding: 0 10px;
    }

    .footer_logo img {
        width: 145px;
        height: 32px; /* Adjust logo size */
        margin-bottom: 10px;
    }

    .social-icons {
        display: flex;
        justify-content: center;
        margin-bottom: 10px; /* Add space between social icons and copyright */
    }

    .social-icons img {
        width: 18px; /* Adjust social icon size */
        margin: 0 8px;
    }

    .footer_paragraph {
        font-size: 8px; /* Adjust font size further for mobile */
        margin-top: 5px;
        opacity: 0.5;
        position: relative;
        bottom: 0;
    }
}